<div id="fh5co-type" style="background-image: url(images/slide_3.jpg);" data-stellar-background-ratio="0.5">
    <div class="fh5co-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-3 to-animate">
                <div class="fh5co-type">
                    <h3 class="with-icon icon-1">Fruits</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit quae sit accusamus atque
                        tempora saepe eum commodi maiores pariatur doloremque deleniti, id dolore sequi vel quos
                        obcaecati dignissimos quod qui.</p>
                </div>
            </div>
            <div class="col-md-3 to-animate">
                <div class="fh5co-type">
                    <h3 class="with-icon icon-2">Sea food</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque vero delectus dolore culpa et
                        dolorem odio cum nihil accusantium consectetur? Laboriosam, earum eligendi. Ad, soluta ab?
                        Necessitatibus, beatae asperiores. Repudiandae.</p>
                </div>
            </div>
            <div class="col-md-3 to-animate">
                <div class="fh5co-type">
                    <h3 class="with-icon icon-3">Vegetables</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil debitis ab minus cumque ad
                        reprehenderit, animi dolor. Aperiam illo sit, nesciunt sequi exercitationem at voluptas ducimus
                        voluptates corrupti iste autem.</p>
                </div>
            </div>
            <div class="col-md-3 to-animate">
                <div class="fh5co-type">
                    <h3 class="with-icon icon-4">Meat</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et eum tenetur cumque quis blanditiis
                        tempore aut! Repudiandae numquam ullam at quo alias, nulla quos? Eaque, amet! Expedita provident
                        totam labore.</p>
                </div>
            </div>
        </div>
    </div>
</div>